<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /braz-emprestimos/
  
  # Se o arquivo ou diretório não existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redireciona para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
